<h1>Register</h1>
<form method="post" action="/Auth/Register">

   <div>
      <label for="firstname">FirstName:</label>
      <input type="text" id="firstname" name="firstname" required />
   </div>
   <div>
      <label for="lastname">LastName:</label>
      <input type="text" id="lastname" name="lastname" required />
   </div>
   <div>
      <label for="email">Email:</label>
      <input type="text" id="email" name="email" required />
   </div>
   <div>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required />
   </div>
   <button type="submit">Register</button>
</form>